*{
    margin:0;
    padding:0;
    
}

.container{
    display:flex;
    flex-direction: row;
}


.container-fluid{
  
        
        min-height: 100vh;
        display: flex;
    
}

body{
    min-height: 100vh;
    margin:0;
    padding:0;

}


#leftcol{
    background-color:#1d334a;
    color:#D5DBE0;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    padding: 20px;
    justify-content: flex-start;
    align-items: center;
    
}

#rightcol{
    color:#1d334a;
    padding: 20px;
  background-color: #D5DBE0;

}
.list-group .contact-item {
    display: flex;               
    align-items: center;          
    margin-bottom: 10px;         
    color: #D5DBE0;                
    text-decoration: none; 
    justify-content: flex-start;      
}

.contact-item i {
    margin-right: 10px; 
    vertical-align: middle;     
    font-size: 1rem; 
    line-height: 1;     
            
}

.list-group{
    background-color: #1d334a;
    color: white;
    padding: 0;
    display: flex;
   
   
}

.list-group a{
    color:white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    background-color: white;
    color: #1d334a;
}


#profileh2{
    margin-top:1rem;
}

#profileImg{
    border:4px solid #152238;
    border-radius: 80%;
    max-width: 100%;
    border-radius: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    

}

h5{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.progress-bar{
    background-color: #D5DBE0;
    color: #1d334a;
    font-weight: bold;
}

ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}
.nav-item a {
    border-left: 1px solid white;
   
}
@media (max-width: 768px) {
    .container-fluid {
        display: flex;
        flex-direction: column;
    }

    .middle-section{
        
            flex-direction: column; 
        
    }
    #profileImg{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #leftcol {
        min-height: auto;
        width: 100%; 
        align-items: center;
        justify-content: flex-start;
    }

    #rightcol {
        width: 100%;
        min-height: auto; 
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #leftcol {
        justify-content: flex-start; 
        align-items: center; 
    }

    .header-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #profileImg{
       
            margin-top: 1rem;
            align-self: center; 
        
    }

   

   
}

@media (min-width: 1025px) {
    #leftcol{
        justify-content: flex-start;
        align-items: center;
    }

    #profileImg{
       
        margin-top: 1rem; 
        align-self: center; 
    
}
   
}

/* hero page style*/

#hero-right{
    background-color:#131122;
    color:white;
    /*flex: 1;*/
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:40px;
    


}

#hero-left{
    flex:1;
    height: 100vh;
 
}

#hero-container{
    min-height: 100vh ;
    color:white;
    width: 100%;
    display: flex;
   align-items: stretch;
}

#hero-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#cvbtn ,#contactbtn{
    color: #152238;
    font-weight: bold;
    background-color: white;
}

#contactbtn a{
    text-decoration: none;
    color: #152238;
    font-weight: bold;
   

}

.social-icons i {
    margin-left: 10px;
    color: white;
}

#hero-p{
    margin-bottom: 4rem;
}

@media (max-width: 1024px) {
    #hero-container {
        flex-direction: column;
        text-align: center;
    }

    #hero-left {
        height: auto;
    }

    #hero-right {
        
        height: auto;
        align-items: center;
    }}


@media (min-width: 1025px) {
    #hero-left img {
        max-width: 100%;
    }
}