*{
    margin:0;
    padding:0;
    
}

.container{
    display:flex;
    flex-direction: row;
}


.container-fluid{
  
        
        min-height: 100vh;
        display: flex;
    
}

body{
    min-height: 100vh;
    margin:0;
    padding:0;

}


#leftcol{
    background-color:#1d334a;
    color:white;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    padding: 20px;
    justify-content: flex-start;
    align-items: center;
    
}

#rightcol{
    color:#1d334a;
    padding: 20px;
    background-color: hsl(0, 0%, 90%);

}

.list-group{
    background-color: #1d334a;
    color: white;
}

.list-group a{
    color:white;
    text-decoration: none;
}

.btn{
    background-color: white;
    color: #1d334a;
}


#profileh2{
    margin-top:1rem;
}

#profileImg{
    border:4px solid #152238;
    border-radius: 80%;
    max-width: 100%;
    border-radius: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    

}

ul {
    list-style-type: none; /* Rimuove i puntini dalla lista */
    padding: 0; /* Rimuove il padding sinistro predefinito */
    margin: 0; /* Rimuove il margine predefinito */
}
@media (max-width: 768px) {
    .container-fluid {
        display: flex;
        flex-direction: column;
    }

    #profileImg{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #leftcol {
        min-height: auto;
        width: 100%; 
        align-items: center;
        justify-content: flex-start;
    }

    #rightcol {
        width: 100%;
        min-height: auto; 
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #leftcol {
        justify-content: flex-start; /* Allinea il contenuto all'inizio (top) */
        align-items: center; /* Centra solo orizzontalmente */
    }

    .header-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #profileImg{
       
            margin-top: 1rem; /* Lascia un po' di spazio dall'alto */
            align-self: center; /* Mantieni l'immagine centrata orizzontalmente */
        
    }

   

   
}

@media (min-width: 1025px) {
    #leftcol{
        justify-content: flex-start; /* Assicura che il contenuto parta dall'alto */
        align-items: center;
    }

    #profileImg{
       
        margin-top: 1rem; /* Lascia un po' di spazio dall'alto */
        align-self: center; /* Mantieni l'immagine centrata orizzontalmente */
    
}
   
}

/*@media (min-width: 768px) and (max-width: 991px) {*/
   