@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Informazioni raccolte</h2>
<p>
    Raccogliamo informazioni personali che ci fornisci volontariamente quando interagisci con il nostro sito, come nome, email, e informazioni di contatto. 
    Inoltre, raccogliamo automaticamente alcune informazioni attraverso i cookie, come l'indirizzo IP e i dati di navigazione.
</p>

<h2>Come utilizziamo le informazioni</h2>
<p>
    Le informazioni raccolte vengono utilizzate per migliorare la tua esperienza di navigazione, personalizzare il contenuto, rispondere alle tue richieste, e per scopi di analisi interne. 
    Non utilizziamo le tue informazioni per scopi non dichiarati o non autorizzati.
</p>

<h2>Condivisione delle informazioni</h2>
<p>
    Non vendiamo o condividiamo le tue informazioni personali con terze parti, eccetto nei casi necessari per fornire i nostri servizi, come con i fornitori di servizi o quando richiesto dalla legge.
</p>

<h2>Conservazione e sicurezza</h2>
<p>
    Conserviamo i tuoi dati solo per il tempo necessario a fornire i servizi richiesti. 
    Implementiamo misure di sicurezza tecniche e organizzative per proteggere i tuoi dati da accessi non autorizzati, perdite, o distruzione accidentale.
</p>

<h2>Cookie</h2>
<p>
    Utilizziamo i cookie per tracciare l'uso del nostro sito e migliorare la tua esperienza di navigazione. 
    I cookie sono piccoli file di testo salvati sul tuo dispositivo che ci permettono di riconoscerti al prossimo accesso e di personalizzare il contenuto del sito. 
    Puoi gestire le tue preferenze sui cookie tramite le impostazioni del browser.
</p>

<h2>I tuoi diritti</h2>
<p>
    Hai il diritto di richiedere l'accesso, la rettifica o la cancellazione delle tue informazioni personali. 
    Inoltre, puoi richiedere la limitazione del trattamento o opporti al trattamento dei tuoi dati. 
    Puoi esercitare questi diritti contattandoci tramite l'email fornita nella sezione "Contatti".
</p>

<h2>Aggiornamenti alla policy</h2>
<p>
    Ci riserviamo il diritto di aggiornare questa privacy policy in qualsiasi momento. Le modifiche verranno pubblicate su questa pagina e notificate agli utenti via email o tramite il sito, se necessario.
</p>

<h2>Contatti</h2>
<p>
    Per qualsiasi domanda riguardo la nostra privacy policy, puoi contattarci a: privacy@example.com.
</p>
