@{
   ViewData["Title"] = "Errore";
}

<h1 class="text-danger">Errore</h1>

<h2 class="text-danger">Non sei autorizzato a visualizzare questa pagina.</h2>

<!--  Comandi necessari

dotnet tool install --global dotnet-aspnet-codegenerator

dotnet add package Microsoft.VisualStudio.Web.CodeGeneration.Design

Comandi per scaffolding

dotnet aspnet-codegenerator identity -dc MvaAuthApp.Data.ApplicationDbContext --files "Account.Register" -->